#container-editarServicos {
    width: 40%;
    height: 100%;
    background: #f3f3f3;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: auto;
}

#container-editarServicos .logo {
    text-align: center;
    margin-bottom: 10px;
}

#container-editarServicos .logo img {
    width: 50px;
    height: auto;
    margin: auto;
}

#container-editarServicos h1 {
    text-align: center;
    margin-bottom: 50px;
    color: #333;
    font-size: 42px;
}

#container-editarServicos #form-editarServico {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

#container-editarServicos #form-editarServico .campo {
    display: flex;
    flex-direction: column;
}

#container-editarServicos #form-editarServico .campo label {
    margin-bottom: 6px;
    font-weight: bold;
    color: #444;
}

#container-editarServicos #form-editarServico .campo input,
#container-editarServicos #form-editarServico .campo textarea,
#container-editarServicos #form-editarServico .campo select {
    padding: 12px;
    border: 1px solid #777;
    border-radius: 8px;
    background: #d9d9d9;
    outline: none;
    font-size: 15px;
}

#container-editarServicos #form-editarServico .campo textarea {
    resize: none;
    height: 45px;
}

#container-editarServicos #form-editarServico .botoes {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 190px;
    gap: 15px;
}

#container-editarServicos #form-editarServico .botoes #btn-editarServico {
    width: 230px;
    padding: 15px;
    border: none;
    border-radius: 14px;
    background: #ffc400;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#container-editarServicos #form-editarServico .botoes #btn-editarServico:hover {
    background: #e4b000;
}

#container-editarServicos #form-editarServico .botoes #voltar-telaProdutoServico {
    text-align: center;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: rgba(228, 78, 78, 0.585);
    padding: 2px;
    border-radius: 4px;
}

#container-editarServicos #form-editarServico .botoes #voltar-telaProdutoServico:hover {
    background-color: rgb(228, 78, 78);
}