.container-cadastroFornecedor {
    width: 520px;
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;

    & h1 {
        text-align: center;
        color: #333;
    }

    & .form-cadastroFornecedor {
        margin: 0 auto;
        width: 90%;
        padding: 10px;
    }

    & .form-group-cadastroFornecedor {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        & label {
            font-weight: bold;
        }
    }

    & .form-group-cadastroFornecedor input {
        width: 90%;
        padding: 10px 20px;
    }

    & .btn-area-cadastroFornecedor {
        display: flex;
        justify-content: center;
    }

    & #btn-cadastroFornecedor {
        margin: 30px auto;
        width: 250px;
        height: 50px;
        background-color: #ffc107;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    & .voltar {
        display: flex;
        justify-content: center;
    }

}