#container-validarCodigo {
    width: 810px;
    height: 660px;
    background: white;
    margin: 40px auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px gray;
    overflow: hidden;
}

#container-validarCodigo .topo {
    height: 85px;
    background: #6b0000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#container-validarCodigo .logoImg {
    width: 70px;
    height: auto;
}

#container-validarCodigo .logoTexto {
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin: 0;
}

#container-validarCodigo .conteudo {
    width: 280px;
    margin: 85px auto 0 auto;
}

#container-validarCodigo h2 {
    text-align: center;
    color: #333;
    font-size: 20px;
    margin-bottom: 35px;
}

#container-validarCodigo .texto {
    font-size: 13px;
    margin-bottom: 25px;
}

#container-validarCodigo form {
    display: flex;
    flex-direction: column;
}

#container-validarCodigo label {
    font-size: 13px;
    font-weight: bold;
    margin-top: 15px;
}

#container-validarCodigo input {
    height: 30px;
    background: #d9d9d9;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 8px;
}

#container-validarCodigo button {
    width: 220px;
    height: 45px;
    margin: 30px auto 0 auto;
    background: #ffc107;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#container-validarCodigo button:hover{
    background-color: #c09a29;
}

#container-validarCodigo .voltar {
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
}