#tela-cadastroUsuario {
    width: 50%;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 35px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#tela-cadastroUsuario h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    font-size: 38px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 13px;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.input-group input {
    height: 38px;
    border: 1px solid #9aa0a6;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #e8ecef;
    outline: none;
}

.input-group input:focus {
    border-color: #f4b400;
    background-color: #fff;
}

.btn-area {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

#btn-cadastrar {
    width: 240px;
    height: 45px;
    border: none;
    border-radius: 12px;
    background-color: #f4b400;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}

#btn-cadastrar:hover {
    background-color: #e0a800;
    transform: scale(1.02);
}

.footer-login{
    display: flex;
    align-items: center;
    justify-content: center;
}